{% extends 'base.html.twig' %}

{% block title %}Listagem de séries{% endblock %}

{% block body %}

    {# Forma simples de trabalhar com Flash Message #}

    {# {% if successMessage is not empty %}

        <div class="alert alert-success">
            {{ successMessage }}
        </div>

    {% endif %} #}

    {# <div class="d-flex justify-content-between">
        <a href="{{ path('app_series_form') }}" class="btn btn-dark mb-3">Adicionar</a>
    
        <a href="{{ path('app_logout') }}" class="btn btn-sm btn-danger mb-4">Sair</a>
    </div> #}

    <div class="container-fluid d-flex justify-content-between align-items-center p-2">
        <a href="{{ path('app_series') }}" class="btn btn-dark">Home</a>
        <a href="{{ path('app_logout') }}" class="btn btn-danger">Sair</a>
    </div>

    <div class="container d-flex justify-content-center text-center align-items-center">
        <a href="{{ path('app_series_form') }}" class="btn btn-dark mb-3 ">Adicionar série</a>
    </div>

    <ul class="list-group">

        {% for series in seriesList %}
            <li class="list-group-item d-flex justify-content-between align-items-center">

                <a href="{{ path('app_season', {series: series.id}) }}" class="btn btn-light active" alt="Ver temporadas">                
                    {{ series.name }}
                </a>

                <div class="d-flex">
                
                    <a href="{{ path('app_edit_series_form', {series: series.id}) }}" class="btn btn-sm btn-warning me-2">Editar</a>

                    <form method="post" action="{{ path('app_delete_series', {id: series.id}) }}">
                        <input type="hidden" name="_method" value="DELETE"></input>                
                        <button class="btn btn-sm btn-danger ">Deletar</button>
                    </form>
                
                </div>

            </li>
        {% endfor %}

    </ul>

{% endblock %}
